/* css styles */

/* Estilo para centralizar subtitle tags nos yaml .qmd */
h2.subtitle {
  text-align: center;
}

/* Estilo quando o usuário passar o mouse sobre os links */
.navbar a:hover {
    background-color: red;
    color: white;
}

.cta-button {
    text-align: center; /* Center contents inside the container */
    margin: 20px 0; /* Optional margin for spacing */
}

.cta-button a {
    display: inline-block;
    background-color: black; /* Cor de fundo do botão */
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cta-button a:hover {
    background-color: gray; /* Cor ao passar o mouse */
}

/* CSS for index.qmd */

/* General grid layout */
.product-grid-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
    grid-gap: 20px;
    max-width: 1000px;
    width: 100%;
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-container {
    margin-bottom: 15px;
}

.product-icon {
    width: 80px; /* Adjust icon size */
    height: 80px;
}

.text-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 14px;
    color: #666;
}

/*-- footer style --*/

.footer-container {
  background-color: black; /* Ensure the background is black */
  color: white; /* Ensure text is visible on black background */
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-top: 2.5em;
}

.footer-text h3, .h3 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.footer-text p, .p {
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a {
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a:hover {
  color: #939bc9;
}

.footer-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em; 
  box-sizing: border-box;
  background-color: black; /* Background for the block */
}


/*-- nav footer styles --*/

.nav-footer {
  background-color: black; /* Add background color for nav-footer */
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  padding-top: 1em;
}

.nav-footer a {
  color: white;
  font-weight: 400;
}

.nav-footer a:hover {
  color: #939bc9;
}

.nav-footer-left .footer-items .nav-link,
.nav-footer-center .footer-items .nav-link,
.nav-footer-right .footer-items .nav-link {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-footer-left .footer-items .nav-item,
.nav-footer-center .footer-items .nav-item,
.nav-footer-right .footer-items .nav-item {
  margin-top: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-footer-left, .nav-footer-right {
  font-family: 'Montserrat', sans-serif;
}


/* Change standard background color */
body {
  background-color: #f0f0f0; /* Change this to your desired color */
  color: #333; /* Adjust text color for contrast */
}

/* Optional: You can also target specific sections if you want */
.main-container {
  background-color: #f0f0f0; /* Apply the background color to the main content */
}
